<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>localhost</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>localhost</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbContextConnectionString" Order="1" Enabled="False">
          <Destination Path="server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ControlPagosInbaco.Models.ApplicationDbContext, ControlPagosInbaco" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ControlPagosInbaco.MySqlHistoryContext" Order="2" Enabled="False">
          <Destination Path="server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ControlPagosInbaco.MySqlHistoryContext, ControlPagosInbaco" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ControlPagosInbaco-20170814091105.mdf;Initial Catalog=aspnet-ControlPagosInbaco-20170814091105;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ControlPagosInbaco-20170814091105.mdf;Initial Catalog=aspnet-ControlPagosInbaco-20170814091105;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ArticuloModelo.cs" Order="4" Enabled="False">
          <Destination Path="server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ControlPagosInbaco.Models.ArticuloModelo.cs;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArticuloModelo.cs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ControlPagosInbaco.Models.ArticuloModelo.cs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ArticuloModelo.cs-Web.config Connection String">
      <ParameterValue>server=localhost;userid=root;database=mydb;charset=utf8;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ControlPagosInbaco.MySqlHistoryContext-Web.config Connection String">
      <ParameterValue>server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MyDbContextConnectionString-Web.config Connection String">
      <ParameterValue>server=localhost;UserId=root;Password=;database=mydb;CharSet=utf8;Persist Security Info=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ControlPagosInbaco.MySqlHistoryContext" />
  </ItemGroup>
</Project>