
@{
    ViewBag.Title = "AccesoInvalido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acceso Inválido</h2>
<h3>No cuenta con los permisos suficientes para accesar al contenido de esta pagina, contacte con el administrador.</h3>

